@value --color-white, --color-black, --color-gray-3, --color-gray-4, --color-gray-5,--shadow-4 from '../../common/colors.css';
@value --base-space from '../../common/size.css';

.container {
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid --color-gray-3;
}
.leftHeader {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: calc(--base-space * 2);
  color: --color-white;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: --base-space;
  width: 10rem;
  cursor: pointer;
  transition: 300ms;
}
.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: --shadow-4;
}
.clicked {
  border: 1px solid blueviolet;
}
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.rightHeader {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: calc(--base-space * 2);
  color: --color-white;
}
.breedingPlace {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid --color-gray-3;
  margin: calc(--base-space * 4);
  margin-top: 0;
  height: 20rem;
}
.heartImg {
  width: 5rem;
  height: 5rem;
}
.clickedCard {
  width: 13rem;
  margin: --base-space;
  cursor: pointer;
  transition: 300ms;
}
.clickedCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: --shadow-4;
}
.breedingBtn {
  margin: 0 auto;
}
