@value --color-white, --color-black, --color-gray-3, --color-gray-4, --color-gray-5 from '../../common/colors.css';
@value --base-space from '../../common/size.css';

.container {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 50%;
  border-right: 1px solid --color-gray-3;
}
.targets {
  display: flex;
  background-color: blue;
  width: 50%;
}
