@value --color-black, --color-white, --color-blue-4,--color-gray-6 from '../../common/colors.css';
@value --base-space from '../../common/size.css';

.header {
  display: flex;
  padding-right: 0;
  background-color: --color-black;
}
.clickedLink {
  background-color: --color-gray-6;
}
.headerBtn {
  font-size: 1rem;
  padding: calc(--base-space * 2);
  color: --color-white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.loginBtn {
  margin-left: auto;
  height: 100%;
  background-color: --color-blue-4;
}
